main{
  height: 60%;
}

.titulo{
    margin-left: 74px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cajita{
  background-color: white;
  opacity: 0.8;
  width: 200px;
  margin-left: 89px;
  height: 300px;
  margin-bottom: 20px;
}
.editarVistas{
  padding: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width:1024px){

  .titulo{
    text-align: center;
  }
  .categorias{
    margin-left: 20px;
  }

  .cajita{
    background-color: white;
    opacity: 0.8;
    width: 300px;
    margin-left: 100px;
    height: 300px;
    margin-bottom: 20px;
  }
  .editarVistas{
    padding: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
